[submodule "themes/leaveit"]
	path = themes/leaveit
	url = https://github.com/Hyvi/LeaveIt.git
	branch = master
[submodule "themes/mogege"]
	path = themes/mogege
	url = https://github.com/Hyvi/mogege.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
